﻿@model AprioritTestApp.Models.Folder
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title> 
</head>
<body>
    <div>
        <h3>
            Current Folder: <b>@Model.Name </b>
        </h3>
    </div>
    @foreach (var item in Model.SubFolders)
    {
        if (@item.Id != @item.ParentId)
        {            
            <h3>                  
                <a href=@($"{Request.Url.AbsoluteUri}/{@HttpUtility.UrlPathEncode(item.Name)}")>@item.Name</a>
            </h3>
        }
    }
</body>
</html>
